
button {
    font-size: 16px;
    padding: 10px 20px; 
    margin: 5px; 
    cursor: pointer;
    border: none;
    background-color: #1E90FF ;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #6c91f7;
}


#toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

#toggle i {
    transition: opacity 0.3s ease;
}

#sun-icon {
    color: gold;
}

#moon-icon {
    color: white;
}


.header {
    text-align: center;
    margin-bottom: 20px;
}

.button-grp {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}



.book-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    max-width: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease; 
}

.book-card:hover {
    transform: scale(1.05); 
}

/* Book Container */
#book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}


.new-book-form-modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.new-book-form-modal input,
.new-book-form-modal select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.new-book-form-modal button { 
    background-color: #1E90FF;
    color: white;
    transition: background-color 0.3s ease;
}

.new-book-form-modal button:hover {
    background-color: #6c91f7;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .book-card {
    background-color: #222;
    border-color: #444;
}

body.dark-mode .new-book-form-modal {
    background-color: #333;
    color: #fff;
}


.book-card p:nth-child(4) { 
    font-style: italic;
    color: #777; 
}

body.dark-mode .book-card p:nth-child(4) {
    color: #aaa;
}